dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

dl,
body > div {
  display: -ms-grid;
  -ms-grid-columns: max-content 2% 1fr;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 2%;
  row-gap: 5px;
  max-width: 500px;
}

body > div { margin-top: 20px; }

dt, dd, div div {
  padding: 5px;
}

dt,
div > div:nth-child(odd) {
  background: #000;
  color: #fff;
  -ms-grid-column: 1;
}

dd,
div > div:nth-child(even) {
  background: #eee;
  -ms-grid-column: 3;
}
