html,
body {
    height: 100dvh;
    width: 100dvw;
}

html,
body,
p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('assets/Flag_of_Portugal.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.625rem, 0.6591rem + 4.8295vw, 3.75rem);
    text-align: center;
    color: #fff;
}

div {
    display: grid;
    place-items: center;
    height: 100%;
    width: 50%;
    margin-inline-start: 50%;
}

@media (max-width: 767px) {
    div {
        width: 100%;
        margin-inline-start: 0;
    }
}

p {
    place-self: start center;
}

p a {
    display: block;
    height: min(30vw, 300px);
    width: min(30vw, 300px);
    text-decoration: none;
    border-radius: min(15vw, 150px);
    overflow: hidden;
    outline: 2px solid #fff;
    outline-offset: 6px;
}


svg {
    display: block;
    height: 100%;
    width: 100%;
}

.sr-only {
    display: block;
    border: 0 !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.punch {
    cursor: url('assets/punch.png'), auto;
}