html,
body {
    height: 100dvh;
    width: 100dvw;
}

html,
body,
p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('assets/Flag_of_Portugal.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.625rem, 0.6591rem + 4.8295vw, 3.75rem);
    text-align: center;
    color: #fff;
}

div {
    display: grid;
    place-items: center;
    outline: 1px solid black;
    outline-offset: -1px;
    height: 100%;
    width: 60%;
    margin-inline-start: 40%;
}

p a {
    display: block;
    height: min(30vw, 300px);
    width: min(30vw, 300px);
    text-decoration: none;
    border-radius: min(15vw, 150px);
    overflow: hidden
}


svg {
    display: block;
    height: 100%;
    width: 100%;
}

